#data_manager {
    left: 0;
    top: 0;
    position: fixed;
    /*width : 10%;*/
    background: black;
    padding: 2px;
    z-index: 10;
    color: white;
    font-size: small;
}

/*th, td {
    border-left : solid 2px gray;
}*/

tr.border {
    height: 2px;
    background: white;
    border-spacing: 0;
}

.browse_button {
    width: 16px;
    margin-left: auto;
    margin-right: auto;
}

.data_head_active {
    border-bottom: white solid 1px;
    border-left: white solid 2px;
    border-right: white solid 1px;
    border-top: white solid 2px;
}

.data_head {
    border-bottom: black solid 1px;
    border-left: black solid 2px;
    border-right: black solid 1px;
    border-top: black solid 2px;
}

.snap_head_active {
    border-bottom: white solid 1px;
    border-left: white solid 2px;
    border-right: white solid 1px;
    border-top: white solid 2px;
}

.snap_head {
    border-bottom: black solid 1px;
    border-left: black solid 2px;
    border-right: black solid 1px;
    border-top: black solid 2px;
}

#loader {
    color: white;
    width: 100%;
}

#browse_button {

}