/* Style de la timeline, des breakpoints et du curseur */

#timeline {
    display: table;
    list-style: none;
    position:absolute;
    width: 20%;
    left: 40%;
    height: 8px;
    top: 90%;
    background-color: #eee;
    border-radius: 4px 4px 4px 4px;
}

#cursor {
    display: block;
    position: absolute;
    width: 20px;
    left: -10px;
    height: 20px;
    top: -6px;
    background-color: rgba(255,255,255,0);
    cursor: move;
    z-index: 1;
}

#cursor-head {
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    border: 5px solid #eee;
    border-radius: 50%;
    background-color: red;
}

.cursor-hair {
    position: absolute;
    width: 10px;
    height: 5px;
    border-radius: 50%;
}

#cursor-hair-top-left {
    border-top: 3px solid #eee;
    border-left: 3px solid #eee;
    top: -10px;
    left: -10px;
}

#cursor-hair-top-right {
    border-top: 3px solid #eee;
    border-right: 3px solid #eee;
    top: -10px;
    right: -10px;
}

#cursor-hair-bottom-left {
    border-bottom: 3px solid #eee;
    border-left: 3px solid #eee;
    bottom: -10px;
    left: -10px;
}

#cursor-hair-bottom-right {
    border-bottom: 3px solid #eee;
    border-right: 3px solid #eee;
    bottom: -10px;
    right: -10px;
}

.snapshot {
    display: table-cell;
    position: absolute;
    width: 10px;
    height: 14px;
    cursor: pointer;
}

.breakpoint {
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    left: -10px;
    top: -6px;
    border: 5px solid #eee;
    border-radius: 50%;
    background-color: green;
}

#play-border {
    position: absolute;
    width: 26px;
    height: 26px;
    left: -20%;
    top: -11px;
    background-color: #eee;
    border: 2px solid rgba(0,0,0,0.7);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
}

#play-border:hover{
    border-color: transparent;
}

#play-border:hover #play-button{
    border-left: 8px solid rgba(0,0,0,0.5);
}

#play-border:hover #stop-button{
    border-left: 4px solid rgba(0,0,0,0.5);
    border-right: 4px solid rgba(0,0,0,0.5);
}

#play-button {
    position:relative;
    top: 5px;
    left: 10px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid rgba(0,0,0,0.8);
}

#stop-button {
    position: relative;
    top: 6px;
    left: 7px;
    width: 4px;
    height: 14px;
    border-left: 4px solid rgba(0,0,0,0.8);
    border-right: 4px solid rgba(0,0,0,0.8);
}